beautifulsoup4>=4.12.0
certifi>=2023.07.22
dj-database-url>=2.0.0
Django>=4.2,<5.0
requests>=2.31.0
# South removido, pois nao e mais necessario em Django>=1.7
# Distribute removido, pois foi incorporado ao setuptools